.waifu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: 0;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
.waifu:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
@media (max-width: 768px) {
    .waifu {
        display: none;
    }
}
.waifu-tips {
	opacity: 0;
	width: 250px;
	height: 70px;
	margin: -20px 20px;
	padding: 5px 10px;
	border: 1px solid rgba(224, 186, 140, 0.62);
	border-radius: 12px;
	background-color: rgba(236, 217, 188, 0.5);
	box-shadow: 0 3px 15px 2px rgba(191, 158, 118, 0.2);
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	animation-delay: 5s;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-name: shake;
	animation-timing-function: ease-in-out;
	left: -13px;
	top: 31px;
}
.waifu #live2d{
    position: relative;
}
